.cabalList {
  background-color: #16161d;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .collection {
    padding: 0 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    .heading {
      width: 100%;
      padding: 0 1rem;
      margin-bottom: 0.25rem;
    }

    .item {
      align-items: center;
      border-radius: 100rem;
      border: 2px solid rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      display: flex;
      font-size: 0.75rem;
      font-weight: 700;
      height: 2rem;
      justify-content: center;
      margin: 0 0 0.75rem 0;
      transition: all 0.05s ease-in-out;
      width: 2rem;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }

      &.active {
        background-color: #693AFA;
        border: none;
        color: white !important;
      }
    }
  }
}
