.messageComposer {
  background: #fff;
  cursor: text;
  margin: 0 1rem 1rem 1rem;

  .inputWrapper {
    align-items: center;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    padding: .5rem 0;
    transition: all 0.1s ease-in-out;

    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
    }

    .input {
      padding: 0 1rem;
      width: 100%;

      form {
        align-content: center;
        display: flex;
        width: 100%;

        textarea {
          border: 0;
          display: block;
          font-size: 0.875rem;
          max-height: 200px;
          outline: none;
          resize: none;
          width: 100%;
        }
      }
    }
  }
}