.sidebar {
  flex: 0 0 13.75rem;
  background-color: #16161d;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .section {
    width: 13.75rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    .collection {

      .heading {
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 0.25rem;
      }

      .item {
        width: 100%;
        padding: 0.25rem 1rem 0.25rem 1rem;
        transition: all 0.05s ease-in-out;
        position: relative;
      }
    }
  }
}